@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "BespokeStencil-Variable";
  src: url("../fonts/BespokeStencil-Variable.woff2") format("woff2"),
    url("../fonts/BespokeStencil-Variable.woff") format("woff"),
    url("../fonts/BespokeStencil-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: "Supreme-Variable";
  src: url("../fonts/Supreme-Variable.woff2") format("woff2"),
    url("../fonts/Supreme-Variable.woff") format("woff"),
    url("../fonts/Supreme-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Variable";
  src: url("../fonts/Chillax-Variable.woff2") format("woff2"),
    url("../fonts/Chillax-Variable.woff") format("woff"),
    url("../fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Excon-Variable";
  src: url("../fonts/Excon-Variable.woff2") format("woff2"),
    url("../fonts/Excon-Variable.woff") format("woff"),
    url("../fonts/Excon-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}



